body {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: "Trebuchet MS", Verdana, sans-serif;
    font-size: 20px;
    background-image: url("https://images6.alphacoders.com/426/426414.jpg");
    background-size: cover;
    padding: 3px;
}

p{
    font-size: large;
    color: aliceblue;
}

div{
    justify-content: center;
}

#envio {
    background-color:#d6e5e6;
	border-radius:28px;
	border:1px solid #3fb063;
	display:inline-block;
	cursor:pointer;
	color:#000000;
	font-family:Arial;
	font-size:13px;
	padding:3px 20px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2b5247;
}
#envio:hover {
	background-color:#48ab8a;
}
#envio:active {
	position:relative;
	top:1px;
}